body{
  margin: 0;
  background-color: white;
  font-family: verdana;
  overflow: hidden
}
@media (min-width: 600px){
  .navbar{
    background-color: white;
    padding: 1vw;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .socialMedia{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 1vw;
    margin-bottom: 1vw;
  }
  .facebook, .instagram, .twitter, .pinterest{
    background: url("./resources/smi.jpg") no-repeat;
    margin-right: 0.25vw;
    width: 50px;
    height: 50px;
  }
  .facebook{
    background-position: -61px -5px;
  }
  .facebook:hover{
      background-position: -61px -62px;
  }
  .instagram{
    background-position: -118px -5px;
  }
  .instagram:hover{
    background-position: -118px -62px;
  }
  .twitter{
    background-position: -4px -5px;
  }
  .twitter:hover{
    background-position: -4px -62px;
  }
  .pinterest{
    background-position: -175px -5px;
  }
  .pinterest:hover{
    background-position: -175px -62px;
  }
  .navItems{
    margin-left: auto;
    margin-top: auto;
  }
  .navItems button{
    display: none;
  }
  .navContent{
    display: flex;
    flex-direction: row;
    margin-right: 0.5vw;
  }
  .navContent a{
    position: relative;
    background-color: #aa2222;
    border-radius: 5px;
    padding: 0.75vw 1.5vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-right: 1vw;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .navContent a:hover{
    background-color: #d92929;
  }
  .link{
    margin-left: auto;
  }
  .closeBuffer{
    background-color: #aa2222;
    width: 100%;
    height: 5vh;
  }
  .collapsible {
    background-color: #aa2222;
    border-radius: 4px;
    margin-top: 2px;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 25px;
  }
  .active, .collapsible:hover {
    background-color: #d92929;
  }
  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
}
@media(max-width: 600px){
  .navbar{
    background-color: white;
    padding: 1vw;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .drpbut{
    max-width: 14vw;
    max-height: 14vh;
    background-color: white;
    border: none;
    margin-left: auto;
  }
  .link{
    margin-left: auto;
  }
  .navItems{
  }
  .navContent{
    display: none;
    position: absolute;
  }
  .socialMedia{
    display: none;
  }
  .navContent a{
    display: block;
    position: relative;
    background-color: #aa2222;
    border-radius: 5px;
    padding: 0.75vw 1.5vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-right: 1vw;
    color: white;
    text-decoration: none;
    font-weight: bold;
    right: 13vw;
    z-index: 1;
  }
  .navContent a:hover{
    background-color: #d92929;
  }
  .navItems:hover .navContent{
    display: block;
  }
  .closeBuffer{
    background-color: #aa2222;
    width: 100%;
    height: 5vh;
  }
}
