body{
  margin: 0;
  background-color: white;
  font-family: sans-serif;
  overflow-x: hidden;
  text-align: center;
}
@media (min-width: 600px){
  .navbar{
    background-color: white;
    padding: 1vw;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .logo img{
    width: 33vw;
    height: 5vw;
  }
  .socialMedia{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 1vw;
    margin-bottom: 1vw;
  }
  .facebook, .instagram, .twitter, .pinterest{
    background: url("./resources/original_sp.png") no-repeat;
    margin-right: 0.25vw;
    width: 38px;
    height: 39px;
  }
  .facebook{
    background-position: -0px -127px;
  }
  .facebook:hover{
      background-position: -0px -266px;
  }
  .instagram{
    background-position: -96px -127px;
  }
  .instagram:hover{
    background-position: -96px -266px;
  }
  .twitter{
    background-position: -48px -127px;
  }
  .twitter:hover{
    background-position: -48px -266px;
  }
  .pinterest{
    background-position: -144px -127px;
  }
  .pinterest:hover{
    background-position: -144px -266px;
  }
  .facebook1, .instagram1, .twitter1, .pinterest1{
    background: url("./resources/original_sp2.png") no-repeat;
    margin-right: 0.25vw;
    width: 38px;
    height: 39px;
  }
  .facebook1{
    background-position: -0px -127px;
  }
  .facebook1:hover{
      background-position: -0px -266px;
  }
  .instagram1{
    background-position: -96px -127px;
  }
  .instagram1:hover{
    background-position: -96px -266px;
  }
  .twitter1{
    background-position: -48px -127px;
  }
  .twitter1:hover{
    background-position: -48px -266px;
  }
  .pinterest1{
    background-position: -144px -127px;
  }
  .pinterest1:hover{
    background-position: -144px -266px;
  }
  .navItems{
    margin-left: auto;
    margin-top: auto;
  }
  .navItems button{
    display: none;
  }
  .navContent{
    display: flex;
    flex-direction: row;
    margin-right: 0.5vw;
  }
  .navContent a{
    position: relative;
    background-color: #aa2222;
    border-radius: 5px;
    padding: 0.75vw 1.5vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-right: 1vw;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .navContent a:hover{
    background-color: #d92929;
  }
  .link{
    margin-left: auto;
  }
  .pageContent{
    width: 100%;
    text-align: center;
  }
  .closeBuffer{
    background-color: #aa2222;
    width: 100%;
    height: 5vh;
  }
  .collapseBoxes{
    width: 80%;
    display: inline-block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .collapsible {
    background-color: #aa2222;
    margin-bottom: 0.25vw;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 2vw;
  }
  .active, .collapsible:hover {
    background-color: #d92929;
  }
  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  .content {
    padding: 0 18px;
    text-align: left;
    font-size: 1.5vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
  .Weltext{
    display: inline-block;
    text-align: center;
    font-size: 1.5vw;
    width: 95%;
  }
  .welcome{
    width: 80%;
    display: inline-block;
    margin-top: 1vw;
    margin-bottom: 1vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .curriculumLists{
    display: flex;
    flex-direction: row;
    text-align: left;
  }
  .curriculumLists li{
    margin-top: 1vw;
  }
  .contentHeader{
    display: block;
    position: relative;
    width: 100%;
    height: 10%;
    background-color: #aa2222;
  }
  .formFooter-heightMask{
    display: none;
  }
  .boxesIntro h4{
    position: relative;
    top: 0.25vw;
    padding: 1vw;
    color: white;
    font-size: 2.5vw;
    font-weight: normal;
    background-color: #aa2222;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    width: 40%;
    margin: 0 auto;
  }
  .collapseBoxes{
    border-color: #aa2222;
    border-width: 1vw;
    border-style: solid;
    border-radius: 1vw;
    margin-bottom: 1vw;
  }
}
@media(max-width: 600px){
  .navbar{
    background-color: white;
    padding: 1vw;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .drpbut{
    max-width: 14vw;
    max-height: 14vh;
    background-color: white;
    border: none;
    margin-left: auto;
  }
  .link{
    margin-left: auto;
  }
  .navItems{
  }
  .navContent{
    display: none;
    position: absolute;
  }
  .socialMedia{
    display: none;
  }
  .navContent a{
    display: block;
    position: relative;
    background-color: #aa2222;
    border-radius: 5px;
    padding: 0.75vw 1.5vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-right: 1vw;
    color: white;
    text-decoration: none;
    font-weight: bold;
    right: 13vw;
    z-index: 1;
  }
  .navContent a:hover{
    background-color: #d92929;
  }
  .navItems:hover .navContent{
    display: block;
  }
  .pageContent{
    width: 100%;
    text-align: center;
    display: block;
  }
  .closeBuffer{
    background-color: #aa2222;
    width: 100%;
    height: 5vh;
  }
  .collapseBoxes{
    width: 80%;
    display: inline-block;
  }
  .collapsible {
    background-color: #aa2222;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
  }
  .collapseBoxes{
    font-size: 2vw;
    font-weight: 9001;
  }
  .active, .collapsible:hover {
    background-color: #d92929;
  }
  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    font-size: 1.3vw;
  }
  .welcome{
    width: 80%;
    display: inline-block;
    margin-top: 1vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .boxesIntro h4{
    position: relative;
    top: 0.25vw;
    padding: 1vw;
    color: white;
    font-size: 2.5vw;
    font-weight: normal;
    background-color: #aa2222;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    width: 40%;
    margin: 0 auto;
  }
  .collapseBoxes{
    border-color: #aa2222;
    border-width: 1vw;
    border-style: solid;
    border-radius: 1vw;
    margin-bottom: 1vw;
  }
  .Weltext{
    display: inline-block;
    text-align: center;
    font-size: 1.5vw;
    width: 95%;
  }
}

.footer {
  clear: both;
  background-color: #CDB78F;
}
.footer #inner-footer {
  color: white;
  font-size: 12px;
  font-size: 1.2rem;
  padding: 2% 5% 2% 5%;
  margin: 0 auto;
  max-width: 1440px;
}
.footer .footer-nav {
  display: block;
  width: 100%;
  text-align: center;
}
.footer .footer-nav ul li {
  padding: 0 1% 0 1%;
}
.footer .footer-nav ul li a {
  text-transform: uppercase;
  color: white;
  background-color: inherit;
}
.footer .connect {
  display: block;
  width: 100%;
  text-align: center;
}
.footer .connect .connect-label {
  display: none;
}
.footer .connect .media-btn {
  display: inline-block;
  padding: 0% 2% 0% 2%;
  vertical-align: middle;
}
.footer .connect .media-btn a {
  display: block;
  width: 35px;
  height: 35px;
  background-image: url(../images/smi1.png);
}
.footer .connect .media-btn a.facebook1 {
  background-position: -61px -5px;
}
.footer .connect .media-btn a.twitter1 {
  background-position: -4px -5px;
}
.footer .connect .media-btn a.instagram1 {
  background-position: -118px -5px;
}
.footer .connect .media-btn a.pinterest1 {
  background-position: -175px -62px;
}
.footer .connect .media-btn a.youtube {
  background-position: -166px -224px;
}
.footer .connect .media-btn a.linkedin {
  background-position: -205px -224px;
}
/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
/* end .footer-links */
.copyright {
  display: block;
  width: 100%;
  text-align: center;
}
.no_underscore {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .footer {
    clear: both;
    margin: 0 auto;
  }
  .footer #inner-footer {
    padding: 2% 5.2% 2% 5.2%;
  }
  .footer .footer-nav {
    float: right;
    width: 65%;
    text-align: right;
  }
  .footer .footer-nav ul li {
    display: inline-block;
    border-right: 1px white solid;
  }
  .footer .footer-nav ul li:first-child {
    padding-left: 0;
  }
  .footer .footer-nav ul li:last-child {
    padding-right: 0;
    border-right: none;
  }
  .footer .connect {
    position: relative;
    clear: both;
    text-align: center;
    width: 100%;
  }
  /*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
  /* end .footer-links */
  .copyright {
    float: left;
    width: 35%;
    text-align: left;
  }
}
.testimonials-module {
  clear: both;
  position: relative;
  width: 100%;
  background: url('./resources/gray-bkgnd.jpg') repeat;
  text-align: center;
  padding: 5% 7.46% 5% 7.46%;
  margin-top: 5%;
}
.testimonials-module .section-title {
  font-size: 20px;
  font-size: 2rem;
}
.testimonials-wrapper {
  text-align: left;
}
.testimonials-wrapper .testimonials-quote {
  text-transform: uppercase;
  font-size: 18px;
  color: #b42c33;
  line-height: 133%;
  display: block;
  letter-spacing: 0.0625em;
  /*padding-top: 5%;*/
  padding: 5% 3% 0% 3%;
}
.testimonials-wrapper .testimonials-name {
  display: block;
  font-size: 12px;
  color: #8a8989;
  text-transform: uppercase;
  padding: 4% 2% 1% 2%;
  letter-spacing: 0.0625em;
}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
}
.row:after {
  content: "";
  display:table;
  clear:both;
}

.body
{
	padding: 50px;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	/**position: static;**/
	padding: 10px 40px;
  float:center;
  margin-top: 20px;
	border-radius: 10px;
	font-family: sans-serif;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;
}

.blue
{
	background-color: #A0B2B0;
	border-bottom: 5px solid #A0B2B0;
}


.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 10px solid;
}

.donatepg
{
  margin-right:8%;
  margin-left:8%;
  margin-bottom:8%;
  margin-top: 4vw;
  font-size: 20px;
}

.imgdon
{
  margin-top: 2vw;
}
